* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../images/bg.png) no-repeat top center;
  line-height: 1.15;
}
header {
  position: relative;
  height: 1.1rem;
  background: url(../images/head_bg.png) no-repeat;
  background-size: 100% 88%;
}
header h1 {
  font-family: 'Times New Roman';
  font-size: 0.36rem;
  color: #fff;
  text-align: center;
  line-height: 0.8rem;
}
header h2 {
  position: absolute;
  font-family: '楷体';
  font-size: 0.3rem;
  top: 0;
  color: #f7f3f3;
  left: 0.6rem;
  line-height: 0.9rem;
}
header .showTime1 {
  position: absolute;
  right: 0.5rem;
  top: 0;
  line-height: 0.6rem;
  color: rgba(0, 228, 255, 0.73);
  font-size: 0.1rem;
}
header .showTime2 {
  position: absolute;
  right: 0.7rem;
  top: 0;
  line-height: 1.05rem;
  color: rgba(5, 249, 62, 0.73);
  font-size: 0.06rem;
}
header .showTime3 {
  position: absolute;
  right: 1.6rem;
  top: 0;
  line-height: 0.7877rem;
  color: rgba(255, 255, 255, 0.73);
  font-size: 0.3377rem;
}
.mainbox {
  display: flex;
  margin: 0 auto;
  padding: 0.15rem 0.15rem 0;
}
.mainbox .column_top:nth-child(1) {
  flex: 1.5;
}
.mainbox .column_top:nth-child(2) {
  flex: 7;
}
.mainbox .column_top:nth-child(3) {
  flex: 1.5;
}
.mainbox .overview {
  position: relative;
  height: 5.85rem;
  padding: 0 0.125rem 0.125rem;
  margin-bottom: 0.1875rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  background: rgba(255, 255, 255, 0.03);
}
.mainbox .overview .whole-view {
  height: 1.5rem;
  margin-bottom: 0.1875rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.07), rgba(20, 6, 79, 0.03));
  color: rgba(233, 225, 225, 0.7);
  line-height: 0.6rem;
  font-size: 0.26rem;
  font-weight: 400;
}
.mainbox .overview .whole-view-unit {
  color: rgba(1, 169, 194, 0.7);
  line-height: 0.2rem;
  font-size: 0.18rem;
  font-weight: 300;
}
.mainbox .overview .everyview1 {
  position: absolute;
  left: 1.5rem;
  top: 0.15rem;
  width: 1.8rem;
  line-height: 0.625rem;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.4625rem;
}
.mainbox .overview .everyview2 {
  position: absolute;
  left: 1.5rem;
  top: 1.95rem;
  width: 1.8rem;
  line-height: 0.625rem;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.4625rem;
}
.mainbox .overview .everyview3 {
  position: absolute;
  left: 1.5rem;
  top: 3.65rem;
  width: 1.8rem;
  line-height: 0.625rem;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.4625rem;
}
.mainbox .catalog {
  background: url(../images/catalog_bg_page1.png) no-repeat;
  height: 3.3375rem;
  margin-left: 2.1rem;
  font-size: 0.225rem;
  color: rgba(219, 227, 225, 0.7);
}
.mainbox .catalog h3 {
  position: absolute;
  margin-top: 0.1rem;
  color: rgba(227, 226, 219, 0.75);
  line-height: 0.65rem;
  margin-left: 2.19rem;
  font-size: 0.3125rem;
  font-weight: 550;
}
.mainbox .catalog h4 {
  position: absolute;
  margin-top: 0.1rem;
  color: rgba(219, 227, 225, 0.75);
  line-height: 0.65rem;
  margin-left: 5.55rem;
  font-size: 0.3125rem;
  font-weight: 550;
}
.mainbox .catalog h5 {
  position: absolute;
  margin-top: 0.1rem;
  color: rgba(219, 227, 225, 0.75);
  line-height: 0.65rem;
  margin-left: 8.881rem;
  font-size: 0.3125rem;
  font-weight: 550;
}
.mainbox .catalog a:link {
  color: #a5b6c1;
  text-decoration: none;
}
.mainbox .catalog a:visited {
  color: #a5b6c1;
  text-decoration: none;
}
.mainbox .screen {
  position: relative;
  height: 5.85rem;
  padding: 0 0.2rem 1.8rem;
  margin-top: -2.5rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  background: rgba(255, 255, 255, 0.03);
}
.mainbox .title {
  background: url(../images/title_bg.png) no-repeat;
  margin-bottom: 0.1875rem;
  margin-top: 0.375rem;
  font-size: 0.225rem;
  color: rgba(219, 227, 225, 0.7);
}
.mainbox .camera {
  position: relative;
  height: 0.3375rem;
  padding: 0 0.2rem 1.8rem;
  margin-bottom: 0.1875rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  background: rgba(255, 255, 255, 0.03);
}
.mainbox .camera::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: "";
}
.mainbox .camera::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: "";
}
.mainbox .camera .panel-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.mainbox .camera .panel-footer::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: "";
}
.mainbox .camera .panel-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: "";
}
.mainbox .camera .camera_scene {
  margin-top: 0.0625rem;
  height: 1.65rem;
  size: 100% 100%;
}
.mid_title {
  display: flex;
  margin: 0 auto;
  margin-top: 6.73rem;
  padding: 0.15rem 0.15rem 0;
}
.mid_title .column_mid_title:nth-child(1) {
  flex: 6;
}
.mid_title .column_mid_title:nth-child(2) {
  flex: 4;
}
.mid_title .title {
  background: url(../images/title_bg.png) no-repeat;
  margin-bottom: 0.1875rem;
  margin-top: 0.375rem;
  font-size: 0.225rem;
  color: rgba(219, 227, 225, 0.7);
}
.mid_title_line {
  display: flex;
  margin: 0 auto;
  margin-top: -0.2rem;
  padding: 0.15rem 0.15rem 0;
}
.mid_title_line .column_mid_title_line:nth-child(1) {
  flex: 6;
}
.mid_title_line .column_mid_title_line:nth-child(2) {
  flex: 4;
}
.mid_title_line .column_mid_title_line {
  background: rgba(144, 155, 173, 0.48);
  height: 1px;
  margin-left: 0.1875rem;
  margin-right: 0.1875rem;
}
.bottombox {
  display: flex;
  margin: 0 auto;
  padding: 0.15rem 0.15rem 0;
}
.bottombox .column_bottom_content {
  flex: 2;
}
.bottombox .column_bottom_content h2 {
  margin-top: -0.13rem;
  color: #01a9b7;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.25rem;
  font-weight: 700;
}
.bottombox .column_bottom_content .column_bottom_content_everyview1 {
  position: absolute;
  left: 0.5rem;
  top: 0.7rem;
  width: 1.8rem;
  line-height: 0.625rem;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.625rem;
}
.bottombox .column_bottom_content .column_bottom_content_everyview2 {
  position: absolute;
  left: 0.5rem;
  top: 1.25rem;
  width: 1.2rem;
  line-height: 0.625rem;
  color: rgba(2, 166, 181, 0.7);
  font-size: 0.225rem;
}
.bottombox .column_bottom_content .column_bottom_content_everyview4 {
  position: absolute;
  left: 2.3rem;
  top: 0.6rem;
  width: 2rem;
  line-height: 0.625rem;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.225rem;
}
.bottombox .column_bottom_content .column_bottom_content_everyview5 {
  position: absolute;
  left: 2.3rem;
  top: 1.6rem;
  width: 2rem;
  line-height: 0.625rem;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.225rem;
}
.bottombox .column_bottom_content .column_bottom_content_everyview6 {
  position: absolute;
  left: 3.2rem;
  top: 0.6rem;
  width: 2.5rem;
  line-height: 0.625rem;
  color: rgba(5, 245, 89, 0.65);
  font-size: 0.3125rem;
}
.bottombox .column_bottom_content .column_bottom_content_everyview7 {
  position: absolute;
  left: 3.2rem;
  top: 1.6rem;
  width: 2.5rem;
  line-height: 0.625rem;
  color: rgba(5, 245, 89, 0.65);
  font-size: 0.3125rem;
}
.bottombox .column_bottom_content .chart {
  height: 3rem;
}
.bottombox .column_bottom_content .column_bottom_content_everyview3 {
  position: relative;
  color: rgba(115, 192, 222, 0.6);
  height: 0.125rem;
  padding: 0 1.2rem 0.7rem;
  margin-bottom: 0.225rem;
  margin-left: 1.8rem;
  margin-top: 0.1rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  background: rgba(255, 255, 255, 0.03);
}
.bottombox .column_bottom_content .column_bottom_content_everyview3::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: "";
}
.bottombox .column_bottom_content .column_bottom_content_everyview3::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: "";
}
.bottombox .column_bottom_content .column_bottom_content_everyview3 .column_bottom_content_everyview3_panel_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.bottombox .column_bottom_content .column_bottom_content_everyview3 .column_bottom_content_everyview3_panel_footer::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: "";
}
.bottombox .column_bottom_content .column_bottom_content_everyview3 .column_bottom_content_everyview3_panel_footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: "";
}
.column_bottom_content {
  position: relative;
  height: 2.6rem;
  padding: 0 0.2rem 1.8rem;
  margin-left: 0.11rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  background: rgba(255, 255, 255, 0.03);
}
